@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap);
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-pink: #d41443;
  --pink: #ffa5ba;
  --white: #ffffff;
  --black: #000000;
  --grey: #907e82;
  --bg-secondary-color: #fff6f5;
  --footer-pseudo-color: #E1E1E1;
  --social-link-bg-color: #FEA5BB;
  --mobile-menu-bg-color: #E17992;
  --mobile-menu-pseudo-color: #E18298;
  --accent: #ECEBEB;
  --backgroundPink: #fff5f6;
  --hero-pink: #FFB8CA;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
ol,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  outline: 2px solid coral;
}
@media screen and (min-width: 320px) {
  .container {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

header {
  background-color: var(--hero-pink);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.286;
  letter-spacing: 0.04em;
  color: var(--white);
  position: relative;
}
header .container {
  display: flex;
}
header nav {
  display: flex;
}
header .list {
  display: flex;
}
header .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: Transparent;
  fill: var(--dark-pink);
  cursor: pointer;
}
header .link {
  color: inherit;
}
@media screen and (max-width: 767px) {
  header .container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 27px;
  }
  header .burger {
    position: absolute;
    top: 11px;
    right: -10px;
  }
  header .buy-now {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.313;
    letter-spacing: 0.04em;
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header .container {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.286;
    letter-spacing: 0.04em;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 7px;
  }
  header .burger {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: 30px;
  }
  header .buy-now {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.313;
    letter-spacing: 0.04em;
    color: var(--dark-pink);
    padding: 0;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  header .buy-now svg {
    display: block;
    margin-left: 12px;
    margin-top: 17px;
    margin-bottom: 15px;
    align-self: center;
  }
  header .buy-now:hover, header .buy-now:focus {
    background-color: var(--accent);
  }
}
@media screen and (max-width: 1280px) {
  header nav .list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.313;
    letter-spacing: 0.04em;
    position: relative;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 69px;
  }
  header .burger {
    display: none;
  }
  header nav {
    align-items: center;
    margin-left: auto;
    margin-right: 110px;
    z-index: 2;
  }
  header .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  header .link:hover, header .link:focus {
    color: var(--dark-pink);
  }
  header .item:not(:last-child) {
    margin-right: 35px;
  }
  header .logo {
    position: absolute;
    left: -69px;
    top: 31px;
  }
}
header .mobile-menu {
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background-color: var(--mobile-menu-bg-color);
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
header .mobile-menu.is-open {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
  pointer-events: auto;
}
header .mobile-menu-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  color: var(--dark-pink);
  width: 209px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background-color: var(--white);
  padding-left: 48px;
  padding-right: 70px;
  position: relative;
}
header .mobile-menu-btn-icon {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 19px;
  right: 32px;
}
header .mobile-menu-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}
header .menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .menu-list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .menu-list-link:focus {
  color: var(--dark-pink);
}
header .menu-list-item {
  padding-left: 21px;
  border-top: 1px solid var(--mobile-menu-pseudo-color);
}
header .menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .menu-close-btn:focus {
  fill: var(--dark-pink);
}
header .menu-close-icon {
  width: 30px;
  height: 30px;
  fill: var(--white);
  position: absolute;
  top: 15px;
  right: 18px;
}

.hero {
  background-color: var(--hero-pink);
}
.hero .title {
  display: block;
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.154;
  letter-spacing: 0.04em;
  color: var(--white);
  text-transform: uppercase;
}
.hero .title .title-red {
  font-size: 48px;
  font-weight: 400;
  line-height: 0.958;
  letter-spacing: 0.04em;
  color: var(--dark-pink);
}
.hero .nav {
  list-style: none;
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: var(--white);
}
.hero .nav li:not(:last-child) {
  margin-right: 8px;
}
.hero .nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  border-radius: 22px;
  color: var(--white);
  background-color: var(--dark-pink);
}
.hero .nav .button-him {
  color: var(--dark-pink);
  background-color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .nav .button-him:hover, .hero .nav .button-him:focus {
  background-color: var(--accent);
}
@media screen and (max-width: 767px) {
  .hero {
    overflow: hidden;
  }
  .hero .container {
    padding-top: 110px;
    padding-bottom: 160px;
    position: relative;
  }
  .hero .nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    width: 346px;
    height: 346px;
    border-radius: 50%;
    background-color: var(--pink);
  }
  .hero .icecream {
    position: absolute;
    width: 171px;
    top: 9px;
    left: 97px;
  }
  .hero .title {
    margin-bottom: 19px;
    position: relative;
    width: 218px;
    z-index: 1;
  }
  .hero .milk, .hero .ice-girl, .hero .list, .hero .text, .hero .button-bio {
    display: none;
  }
  .hero .nav a {
    position: relative;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    position: relative;
    padding-top: 8px;
    padding-bottom: 34px;
  }
  .hero .title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.136;
    letter-spacing: 0.04em;
    width: 162px;
    margin-bottom: 20px;
  }
  .hero .title-red {
    font-size: 34px;
    font-weight: 400;
    line-height: 0.912;
    letter-spacing: 0.04em;
  }
  .hero .nav {
    margin-bottom: 19px;
  }
  .hero .nav:after {
    content: "";
    position: absolute;
    bottom: 46px;
    left: 273px;
    width: 324px;
    height: 324px;
    border-radius: 50%;
    background-color: var(--pink);
  }
  .hero .list {
    position: absolute;
    top: 2px;
    right: 7px;
  }
  .hero .list .item {
    position: relative;
  }
  .hero .list .item:not(:last-child) {
    margin-bottom: 24px;
  }
  .hero .list .item::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: -2px;
    left: 27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white);
  }
  .hero .list .nomber-of {
    display: block;
    position: relative;
    z-index: 1;
    font-family: "Titan One", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.143;
    letter-spacing: 0.04em;
    color: var(--dark-pink);
  }
  .hero .list .quantity-of {
    display: block;
    position: absolute;
    white-space: nowrap;
    top: 32px;
    right: 2px;
    font-size: 8px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: var(--white);
  }
  .hero .icecream {
    position: absolute;
    width: 143px;
    bottom: 0;
    left: 344px;
  }
  .hero .ice-girl {
    position: absolute;
    width: 168px;
    bottom: 0px;
    right: 0px;
  }
  .hero .milk {
    width: 124px;
  }
  .hero .info-bio {
    position: absolute;
    bottom: 59px;
    left: 120px;
  }
  .hero .text {
    display: block;
    width: 114px;
    margin-bottom: 7px;
    font-size: 8px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
  }
  .hero .button-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--white);
    border: none;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    height: 515px;
    padding-top: 15px;
    padding-bottom: 62px;
  }
  .hero .title {
    width: 277px;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.158;
    letter-spacing: 0.04em;
  }
  .hero .title-red {
    font-size: 58px;
    font-weight: 400;
    line-height: 0.897;
    letter-spacing: 0.04em;
  }
  .hero .nav:after {
    content: "";
    position: absolute;
    bottom: 81px;
    left: 360px;
    width: 538px;
    height: 538px;
    border-radius: 50%;
    background-color: var(--pink);
  }
  .hero .nav a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: 0.04em;
    padding: 11px 24px;
    margin-bottom: 56px;
  }
  .hero .icecream {
    width: 236px;
    height: 557px;
    bottom: 0;
    left: 479px;
  }
  .hero .ice-girl {
    width: 293px;
  }
  .hero .milk {
    width: 188px;
  }
  .hero .info-bio {
    position: absolute;
    bottom: 69px;
    left: 180px;
  }
  .hero .text {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    letter-spacing: 0.04em;
    color: var(--white);
  }
  .hero .button-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--white);
    border: none;
    cursor: pointer;
  }
  .hero .list {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .hero .list .item {
    position: relative;
  }
  .hero .list .item:not(:last-child) {
    margin-bottom: 35px;
  }
  .hero .list .item::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: -4px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
  }
  .hero .list .nomber-of {
    display: block;
    position: relative;
    text-align: end;
    z-index: 1;
    font-family: "Titan One", sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.152;
    letter-spacing: 0.04em;
    color: var(--dark-pink);
  }
  .hero .list .quantity-of {
    display: block;
    position: absolute;
    white-space: nowrap;
    top: 55px;
    right: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: 0.04em;
    color: var(--white);
  }
}

.products-text {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 121px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: var(--pink);
}
@media screen and (min-width: 768px) {
  .products-text {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .products-text {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products-title {
  margin-bottom: 31px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dark-pink);
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 39px;
    font-size: 48px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .products-title {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .products-list:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list:not(:last-child) {
    margin-right: 24px;
  }
}

.products-content {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 485px;
  margin-top: 146px;
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products-content {
    margin-top: 111px;
    padding-top: 123px;
    padding-left: 11px;
    padding-right: 11px;
    width: 150%;
    max-width: 220px;
  }
}
@media screen and (min-width: 1280px) {
  .products-content {
    margin-top: 209px;
    padding-top: 124px;
    padding-left: 44px;
    padding-right: 44px;
    max-width: 329px;
    max-height: 525px;
  }
}
.products-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  display: block;
  margin: auto;
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .products-content::before {
    transform: translate(-50%, -150%);
    width: 220px;
    height: 233px;
  }
}
@media screen and (min-width: 1280px) {
  .products-content::before {
    transform: translate(-50%, -140%);
    width: 335px;
    height: 335px;
  }
}

.cream:hover:before,
.coffee:hover:before,
.shakes:hover:before {
  width: 280px;
  height: 270px;
}
@media screen and (min-width: 768px) {
  .cream:hover:before,
.coffee:hover:before,
.shakes:hover:before {
    width: 252px;
    height: 254px;
  }
}
@media screen and (min-width: 1280px) {
  .cream:hover:before,
.coffee:hover:before,
.shakes:hover:before {
    width: 372px;
    height: 355px;
  }
}

.cream {
  background: var(--pink);
}
.cream::before {
  content: "";
}
@media screen and (max-width: 767px) {
  .cream::before {
    background-image: url("/320-icecream.f9202e26.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .cream::before {
    background-image: url("/320-icecream@2x.ade0f009.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 288dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 3dppx) and (max-width: 767px) {
  .cream::before {
    background-image: url("/320-icecream@3x.976c0464.png");
  }
}
@media screen and (min-width: 768px) {
  .cream::before {
    background-image: url("/768-icecream.3d36b483.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .cream::before {
    background-image: url("/768-icecream@2x.8b68ac4b.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 3dppx) and (min-width: 768px) {
  .cream::before {
    background-image: url("/768-icecream@3x.12301765.png");
  }
}
@media screen and (min-width: 1280px) {
  .cream::before {
    background-image: url("/1200-icecream.8bdfb7b7.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .cream::before {
    background-image: url("/1200-icecream@2x.cdd1b3a7.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 288dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 3dppx) and (min-width: 1280px) {
  .cream::before {
    background-image: url("/1200-icecream@3x.964843be.png");
  }
}

.coffee {
  background: #f0d1a5;
}
.coffee::before {
  content: "";
}
@media screen and (max-width: 767px) {
  .coffee::before {
    background-image: url("/320-ice-coffee.5b9d8b90.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .coffee::before {
    background-image: url("/320-ice-coffee@2x.1d81a194.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 288dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 3dppx) and (max-width: 767px) {
  .coffee::before {
    background-image: url("/320-ice-coffee@3x.cc76a97c.png");
  }
}
@media screen and (min-width: 768px) {
  .coffee::before {
    background-image: url("/768-ice-coffee.8cb4e5ce.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .coffee::before {
    background-image: url("/768-ice-coffee@2x.fa821460.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 3dppx) and (min-width: 768px) {
  .coffee::before {
    background-image: url("/768-ice-coffee@3x.6d103087.png");
  }
}
@media screen and (min-width: 1280px) {
  .coffee::before {
    background-image: url("/1200-ice-coffee.7f0aaa98.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .coffee::before {
    background-image: url("/1200-ice-coffee@2x.a1dd2c04.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 288dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 3dppx) and (min-width: 1280px) {
  .coffee::before {
    background-image: url("/1200-ice-coffee@3x.1458e561.png");
  }
}

.shakes {
  background: #c2e297;
}
.shakes::before {
  content: "";
}
@media screen and (max-width: 767px) {
  .shakes::before {
    background-image: url("/320-milkshakes.ad3999a8.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .shakes::before {
    background-image: url("/320-milkshakes@2x.3d4ade78.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 288dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 3dppx) and (max-width: 767px) {
  .shakes::before {
    background-image: url("/320-milkshakes@3x.c857d585.png");
  }
}
@media screen and (min-width: 768px) {
  .shakes::before {
    background-image: url("/768-milkshakes.f79c0045.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .shakes::before {
    background-image: url("/768-milkshakes@2x.91d7b262.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 3dppx) and (min-width: 768px) {
  .shakes::before {
    background-image: url("/768-milkshakes@3x.39be0136.png");
  }
}
@media screen and (min-width: 1280px) {
  .shakes::before {
    background-image: url("/1200-milkshakes.a4f119d3.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .shakes::before {
    background-image: url("/1200-milkshakes@2x.aee6e349.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 288dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 3dppx) and (min-width: 1280px) {
  .shakes::before {
    background-image: url("/1200-milkshakes@3x.9216ba82.png");
  }
}

.products-content-title {
  position: relative;
  display: block;
  margin-top: 22px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .products-content-title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .products-content-title {
    margin-top: 38px;
  }
}
.products-content-title::after {
  content: "";
  background-image: url("/dots.d3711cae.svg");
  width: 26px;
  height: 6px;
  margin: 30px auto;
  display: block;
}

.products-desc {
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
}

.products-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-products {
  position: relative;
  display: inline-block;
  border: none;
  width: 40px;
  height: 40px;
  margin: auto;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
}

.del {
  display: none;
}

.del:not(:checked) + label + * {
  display: none;
}

.del:not(:checked) + label,
.del:checked + label {
  display: inline-block;
  border: none;
  width: 40px;
  height: 40px;
  padding: 11px 15px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
}

.del:checked + label {
  background: var(--mobile-menu-pseudo-color);
}

.j {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 250px;
  height: 250px;
  background-color: var(--white);
  border-radius: 4%;
  z-index: 100;
}

.product-list {
  padding: 15px 0;
  border-radius: 4%;
  width: 100%;
  padding: 10px;
  background: var(--backgroundPink);
}

.product-list h3 {
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--dark-pink);
  margin: 0 0 10px 0;
}

.product-list-color {
  font-size: 24px;
  color: var(--dark-pink);
}

.product-text {
  margin-top: 10px;
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
}

.about-section {
  background-color: var(--backgroundPink);
}

.about {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 130px;
  color: #907e82;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 90%;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .about {
    background-image: url(/milk-background-mobile.7f6c00af.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .about {
    background-image: url(/milk-background-mobile@2x.b3557bc5.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 288dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 3dppx) and (max-width: 767px) {
  .about {
    background-image: url(/milk-backgound-mobile@3x.5e4c02b6.png);
  }
}
@media screen and (min-width: 1280px) {
  .about {
    background-image: url(/milk-background-desctop.80333476.png);
    background-position: 0 100%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about {
    background-image: url(/milk-background-desctop@2x.e58364f8.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (min-width: 1280px) and (min-resolution: 288dpi) and (max-width: 767px), screen and (min-width: 1280px) and (min-resolution: 3dppx) and (max-width: 767px) {
  .about {
    background-image: url(/milk-background-desctop@3x.f761d4f2.png);
  }
}

@media screen and (min-width: 768px) {
  .about-content-div {
    display: flex;
  }
}
.about-subtitle {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  color: var(--pink);
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .about-subtitle {
    font-size: 18px;
    line-height: 1.166;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-subtitle {
    font-size: 26px;
    line-height: 1.153;
  }
}
@media screen and (min-width: 1280px) {
  .about-subtitle {
    font-size: 30px;
    line-height: 1.133;
  }
}

.titles {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  color: var(--dark-pink);
}
@media screen and (max-width: 767px) {
  .titles {
    max-width: 200px;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .titles {
    font-size: 48px;
    line-height: 1.145;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .titles {
    font-size: 58px;
    line-height: 1.137;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 767px) {
  .about-img-cow {
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .about-img-cow {
    margin-right: 40px;
  }
}

.about-discription-div {
  font-family: "DM Sans", sans-serif;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .about-discription-div {
    max-width: 235px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-discription-div {
    width: 350px;
    padding-left: 10px;
    padding-top: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .about-discription-div {
    padding-right: 10px;
    width: 460px;
    padding-left: 34px;
    padding-top: 35px;
  }
}

.about-discrption-text {
  font-weight: 500;
  letter-spacing: 0.04em;
}
.about-discrption-text.strong {
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .about-discrption-text {
    font-size: 12px;
    line-height: 1.583;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-discrption-text {
    font-size: 14px;
    line-height: 1.785;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .about-discrption-text {
    font-size: 14px;
    line-height: 1.928;
    margin-bottom: 45px;
  }
}

.button-about {
  cursor: pointer;
  min-width: 176px;
  padding: 13px 15px;
  background-color: var(--white);
  border: none;
  border-radius: 22px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.285;
  color: var(--dark-pink);
  transition: background-color 250ms linear;
}
.button-about:hover, .button-about:focus {
  background-color: #ecebeb;
}

.button-arrow {
  width: 5px;
  height: 8px;
  margin-left: 14px;
}

.advantages {
  background-color: var(--backgroundPink);
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-bottom: 97px;
  }

  .advantages .titles {
    margin: 16px 0 18px 0;
  }

  .advantages-text {
    font-size: 12px;
    line-height: 1.666;
  }

  .advantages-list-item {
    width: 230px;
  }
  .advantages-list-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-list-item {
    width: 180px;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 60px;
  }

  .advantages-text {
    font-size: 14px;
    line-height: 1.714;
  }

  .advantages .titles {
    margin: 36px 0 18px 0;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }

  .advantages-list-item {
    width: 330px;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 60px;
  }

  .advantages-text {
    font-size: 16px;
    line-height: 1.75;
  }
}
.advantages-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #000000;
}

.advantages-list-item::before {
  content: "";
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages-list-item:nth-child(1)::before {
  width: 35px;
  background-image: url(/bucket-mobile.a379d432.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-list-item:nth-child(1)::before {
    width: 35px;
    background-image: url(/bucket-mobile@2x.f13a3c59.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .advantages-list-item:nth-child(1)::before {
    width: 35px;
    background-image: url(/bucket-mobile@3x.8c53ce0b.png);
  }
}
.advantages-list-item:nth-child(2)::before {
  width: 50px;
  background-image: url(/apples-bucket.dfc0f533.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-list-item:nth-child(2)::before {
    width: 50px;
    background-image: url(/apples-bucket@2x.f9eb6818.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .advantages-list-item:nth-child(2)::before {
    width: 50px;
    background-image: url(/apples-bucket@3x.c2ddedfd.png);
  }
}
.advantages-list-item:nth-child(3)::before {
  width: 44px;
  background-image: url(/heart-mobile.c7ca0723.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages-list-item:nth-child(3)::before {
    width: 44px;
    background-image: url(/heart-mobile@2x.bf2f2160.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .advantages-list-item:nth-child(3)::before {
    width: 44px;
    background-image: url(/heart-mobile@3x.c6f24f1d.png);
  }
}

.masonry-gallery {
  background: linear-gradient(to bottom, var(--backgroundPink) 30%, var(--white) 30%);
}

.masonry-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.masonry-list-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.masonry-list-inside {
  list-style-type: none;
}
.masonry-list .list-item-1 {
  padding-top: 11%;
}
.masonry-list .list-item-2 {
  padding-top: 6%;
}
.masonry-list .list-item-4 {
  padding-top: 7%;
}
.masonry-list .list-item-5 {
  padding-top: 4%;
}
.masonry-list .list-item-6 {
  padding-top: 9%;
}

.masonr-photo {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 38px;
  height: 38px;
}
@media screen and (min-width: 768px) {
  .masonr-photo {
    width: 86px;
    height: 86px;
  }
}
@media screen and (min-width: 1280px) {
  .masonr-photo {
    width: 136px;
    height: 136px;
  }
}

.photo-big {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .photo-big {
    width: 173px;
    height: 173px;
  }
}
@media screen and (min-width: 1280px) {
  .photo-big {
    width: 285px;
    height: 285px;
  }
}

.masonr-photo:focus,
.masonr-photo:hover {
  position: sticky;
  transform: scale(1.5);
  z-index: 100;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .swiper-section {
    background-color: var(--backgroundPink);
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .swiper-container {
    background-color: var(--backgroundPink);
  }
}

.swiper-slide {
  padding: 80px 20px 30px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    padding: 119px 40px 35px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide {
    padding: 123px 40px 35px;
    background-color: var(--backgroundPink);
  }
}

.review {
  display: block;
  position: relative;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  letter-spacing: 0.04em;
  z-index: 1;
  background: repeating-linear-gradient(180deg, #e1e1e1 0, transparent 1px, transparent 30px, #e1e1e1 0, #e1e1e1 31px);
  background-position: center bottom 3px;
}
@media screen and (min-width: 768px) {
  .review {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .review {
    font-size: 16px;
  }
}

.review::before {
  content: " ";
  font-size: 24pt;
  text-align: center;
  line-height: 42px;
  color: #fff;
  float: left;
  position: absolute;
  top: -15px;
  background: url(/quote.58ab811c.png);
  background-repeat: no-repeat;
  display: block;
  width: 54px;
  height: 50px;
  z-index: -1;
}

.place-title::before {
  margin-bottom: 15px;
  display: block;
  content: url(/dots.f00653ea.png);
}

.swiper-pagination-bullet-active {
  background-image: url(/home-icon.2849f1eb.png);
  background-size: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  opacity: 1;
  border-radius: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination {
  position: unset;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.customer-icon {
  width: 85px;
  height: 85px;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .customer-icon {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-icon {
    margin-bottom: 62px;
  }
}

.swiper-pagination {
  margin-bottom: 86px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    margin-bottom: 119px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-pagination {
    margin-bottom: 132px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--dark-pink);
}

.contacts-cards {
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 43px 20px;
  width: 220px;
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts-tittle {
  display: inline-block;
  padding: 3px 24px;
  min-width: 80px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f0d1a5;
  color: var(--tittle-text-color);
  border-radius: 4px;
}

.food {
  background-color: #c2e297;
}

.contacts-town {
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.5;
}

.contacts-about {
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--grey);
}

.contacts-work-list {
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 500;
  line-height: 1.5;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-work-days {
  color: var(--black);
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}

.contacts-work-time {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  color: var(--pink);
}

.contscts-nav {
  margin-top: 25px;
}

.contacts-item {
  font-weight: 500;
  line-height: 1.5;
  color: var(--grey);
}

.contact-button {
  display: flex;
  justify-content: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
  border-radius: 22px;
  border: 1px solid var(--white);
  min-width: 160px;
  color: var(--dark-pink);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.312;
}
.contact-buttonhover, .contact-buttonfucus {
  background-color: var(--dark-pink);
  border: 1px solid var(--dark-pink);
  color: var(--white);
}

.contacts-button-list {
  margin-bottom: 10px;
}
.contacts-button-list:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: var(--bg-secondary-color);
  position: relative;
}
.footer .container {
  margin-top: 113px;
}
.footer::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--footer-pseudo-color);
  position: absolute;
  bottom: 88px;
}

.footer-text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--pink);
}
.footer-text-wrapper {
  max-width: 232px;
  margin-bottom: 43px;
}
.footer-text-accent {
  display: block;
  font-size: 34px;
  line-height: 1.147;
  color: var(--dark-pink);
  margin-top: 17px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 43px;
}

.social-link-list {
  display: flex;
  margin-bottom: 46px;
}
.social-link-list-item:not(:last-child) {
  margin-right: 28px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--social-link-bg-color);
  border-radius: 50%;
}
.social-link:focus, .social-link:hover {
  background-color: var(--dark-pink);
}
.social-link-icon {
  width: 60%;
  height: 60%;
  fill: var(--white);
}

.contact-phone {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: var(--black);
}
.contact-phone .contact-phone-number {
  display: inline;
  color: var(--dark-pink);
}

.copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--grey);
  display: block;
  text-align: center;
}
.copyright-wrapper {
  padding: 23px 66px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    margin-top: 158px;
  }

  .footer::after {
    bottom: 74px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-text {
    font-size: 26px;
    line-height: 1.154;
  }
  .footer-text-wrapper {
    max-width: 340px;
    margin-bottom: 91px;
  }
  .footer-text-accent {
    font-size: 48px;
    line-height: 1.146;
    margin-top: 16px;
  }

  .contacts-wrapper {
    margin-bottom: 0px;
  }

  .social-link-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .social-link {
    width: 34px;
    height: 34px;
  }

  .contact-phone {
    font-size: 14px;
    line-height: 1.857;
  }

  .copyright {
    line-height: 1.857;
  }
  .copyright-wrapper {
    padding-top: 29px;
    padding-bottom: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    margin-top: 165px;
  }

  .footer::after {
    bottom: 45px;
  }

  .footer-container {
    align-items: center;
    margin-bottom: 97px;
  }

  .footer-text {
    font-size: 30px;
    line-height: 1.133;
  }
  .footer-text-wrapper {
    max-width: 490px;
    margin-bottom: 0;
  }
  .footer-text-accent {
    font-size: 58px;
    line-height: 1.138;
    margin-top: 15px;
    letter-spacing: 0.06em;
  }

  .social-link-list {
    margin-bottom: 50px;
  }
  .social-link-list-item:not(:last-child) {
    margin-right: 25px;
  }

  .contact-phone {
    font-size: 16px;
    line-height: 1.813;
    letter-spacing: 0.02em;
  }

  .copyright {
    letter-spacing: 0.02em;
  }
  .copyright-wrapper {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
.back-drope {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 110;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back-drope.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundPink);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  background-image: url(/milk-background-mobile.7f6c00af.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .modal-window {
    background-image: url(/milk-background-mobile@2x.b3557bc5.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi) and (max-width: 767px), screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .modal-window {
    background-image: url(/milk-backgound-mobile@3x.5e4c02b6.png);
  }
}
@media screen and (max-width: 767px) {
  .modal-window {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 100%;
    max-width: 80vw;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
.modal-window .titles {
  min-width: 100px;
}

.modal-discrption-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.92;
  letter-spacing: 0.04em;
  color: var(--grey);
}

.modals-button {
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  fill: var(--dark-pink);
}
.modals-button:hover .close-modal-button {
  fill: var(--pink);
}

.modal-discrption-text.strong {
  color: var(--black);
}

.modal-discription-div {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
}

.clean-div {
  padding-top: 8px;
  background-color: var(--backgroundPink);
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */